nav
  .container
    .infos
      img(src="img/logo.png", alt="Chaves abrindo e fechando")
      h1 Joel Silva
      p Desenvolvedor front end.
      .contato
        a(href="https://github.com/jhoow13" target="_blank" rel="noopener noreferrer")
          include ../../img/icons/github.svg
        a(href="mailto:joelcsilva@outlook.com" target="_blank" rel="noopener noreferrer")
          include ../../img/icons/outlook.svg
        a(href="https://www.linkedin.com/in/joelcsilva/" target="_blank" rel="noopener noreferrer")
          include ../../img/icons/linkedin.svg
        a(href="https://twitter.com/jhoow13z" target="_blank" rel="noopener noreferrer")
          include ../../img/icons/twitter.svg
        a(href="https://codepen.io/joel-silva" target="_blank" rel="noopener noreferrer")
          include ../../img/icons/codepen.svg

