section.projetos
  h1 Simples site para demonstração de projetos.
  .lista-projetos
    .item-projeto
      img(src="img/projeto-star-wars.png", class="img-projetos" alt="Projeto que lista informações sobre a franquia de filmes Star Wars")
      .overlay-text
        a(href="https://jhoow13.github.io/StarWars", target="_blank", rel="noopener noreferrer")  Star Wars
    .item-projeto
      img(src="img/projeto-random-quote.png", class="img-projetos" alt="Projeto que gera frases de pensadores aleatoriamente")
      .overlay-text
        a(href="https://jhoow13.github.io/RandomQuote", target="_blank", rel="noopener noreferrer") Random Quote
    .item-projeto
      img(src="img/projeto-busca-video.png", class="img-projetos" alt="Projeto que utiliza API do youtube para listar videos e informações sobre um video selecionado")
      .overlay-text
        a(href="https://jhoow13.github.io/busca-video", target="_blank", rel="noopener noreferrer")  Busca Video
    .item-projeto
      img(src="img/projeto-crud.png", class="img-projetos" alt="Projeto que simula um CRUD de clientes")
      .overlay-text
        a(href="https://jhoow13.github.io/crud", target="_blank", rel="noopener noreferrer") CRUD

