<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">
      {{site.title}}
    </a>
  </h1>
  <p class="blog-initial-info">
    Desenvolvedor front end.<br>
    Compartilhar e expandir meus conhecimentos são meus objetivos com esse blog.
  </p>
  <nav class="masthead-nav">
    <ul class="social-icons">
      <li>
        <a href="{{site.twitter}}"><img src="../src/imgs/icons/twitter.svg" alt=""></a>
      </li>
      <li>
        <a href="{{site.github}}"><img src="../src/imgs/icons/github.svg" alt=""></a>
      </li>
      <li>
        <a href="{{site.linkedin}}"><img src="../src/imgs/icons/linkedin.svg" alt=""></a>
      </li>
      <li>
        <a href="mailto:{{site.email}}"><img src="../src/imgs/icons/outlook.svg" alt=""></a>
      </li>
    </ul>
    <ul>
      {% for page in site.pages %} {% if page.nav %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>

  <button id="btnSearch" class="button-search">
    <img src="../src/imgs/icons/search.svg">
    <span>Pesquisar</span>
  </button>


    <div id="modalPesquisa" class="modal">
      <div class="modal-content">
        <div>
          <input type="text" id="txtSearch" autocomplete="off">
          <span class="close">&times;</span>
          <ul style="display:none" id="searchList"></ul>
        </div>
      </div>
    </div>
</header>
