<header class="masthead">
  <a href="{{ site.baseurl }}/">
    <img class="logo" src="../src/imgs/icons/logo.png" alt="Logo do site abre e fecha chaves">
  </a>
  <h1 class="masthead-title">
      {{site.title}}
  </h1>
  <p class="blog-initial-info">
    Desenvolvedor front end.<br>
  </p>
  <nav class="masthead-nav">
    <ul class="social-icons">
      <li>
        <a href="{{site.twitter}}" target="_blank" rel="noopener noreferrer">
          <img src="../src/imgs/icons/twitter.svg" alt="Icone com link twitter">
      </a>
      </li>
      <li>
        <a href="{{site.github}}" target="_blank" rel="noopener noreferrer">
          <img src="../src/imgs/icons/github.svg" alt="Icone com link github">
      </a>
      </li>
      <li>
        <a href="{{site.linkedin}}" target="_blank" rel="noopener noreferrer">
          <img src="../src/imgs/icons/linkedin.svg" alt="Icone com link linkedin">
      </a>
      </li>
      <li>
        <a href="mailto:{{site.email}}" target="_blank" rel="noopener noreferrer">
          <img src="../src/imgs/icons/outlook.svg" alt="Icone com link outlook">
      </a>
      </li>
    </ul>
    <ul>
      {% for page in site.pages %} {% if page.nav %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
    <button id="btnSearch" class="button-search">
      <img src="../src/imgs/icons/search.svg">
      <span>Pesquisar</span>
    </button>
  </nav>
</header>

<header class="smaller">
  <a href="{{ site.baseurl }}/">
    <img class="logo" src="../src/imgs/icons/logo.png" alt="Logo do site abre e fecha chaves">
  </a>
  <span>{{site.title}} - Front End</span>
  <button id="btnSearch" class="button-search">
    <img src="../src/imgs/icons/search.svg">
  </button>

</header>

<div id="modalPesquisa" class="modal">
  <div class="modal-content">
    <div>
      <input type="text" id="txtSearch" autocomplete="off">
      <span class="close">&times;</span>
      <ul style="display:none" id="searchList"></ul>
    </div>
  </div>
</div>