.lead {
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1.5em 4.5em;

  @media (min-width: 1024px) {
    // margin: 3em 6em;
  }

}

.masthead {
  width: 100%;
  min-height: 100px;
  background-color: #ccc;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, .5);
  text-align: center;
  padding: 50px 0;
  &-title {
    font-weight: 300;

    a {
      color: #333;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  p.blog-initial-info{
    width: 50%;
    margin: 0 auto;
  }

  .masthead-nav {
    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }
      + a {
        margin-left: .25rem;
      }
    }

    ul{
      margin: 0;
      &.social-icons li a img{
          width: 25px;
          color:black;
          margin: 15px 10px 0;
          opacity: .4;
          transition: opacity ease .3s;
          &:hover{
            opacity: 1;
          }
      }
      li{
        display: inline-block;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  &-item{
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    a:not(:first-child){
      &:hover,
      &:focus{
        color: #333;
      }
    }
  }
  p.no-posts{
    width: 75%;
    text-align: center;
  }
  p{
    text-align: justify;
  }
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.projects-list {
  a {
    color: #333;
  }
}