include pug/partials/head

body
  section.container-404
    h1 Essa pagina não existe :(
    img(src="https://cataas.com/cat", class="img-responsive")
    a(href="https://www.joelcsilva.com.br", rel="noopener noreferrer") voltar