include pug/partials/head

body
  noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-P4H3734' height='0' width='0' style='display:none;visibility:hidden')

  include pug/partials/navbar
  include pug/partials/projetos

  link(rel="stylesheet" href="css/style.min.css")
  script(src="js/main.min.js")