.projetos{
  display: grid;
  grid-template-columns: 250px;
  grid-gap: 10px;
  justify-content: center;
  font-family: Sans-serif;
  height: 100%;
  margin-top: 50px;

  div {
    background-color: #283149;
    height: 250px;
    width: 250px;
  }

  @media (min-width: 991px){
    grid-template-columns: 250px 250px;
  }

  @media (min-width: 1200px){
    grid-template-columns: 250px 250px 250px;
  }

}